<script src="/app/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="/app/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/app/js/vendor/what-input.js"></script>
<script src="/app/js/vendor/foundation.js"></script>
<script src="/app/js/vendor/app.js"></script>
